<header style="background-color: lightblue;">

<div class="col-md-12" style="padding: 20px;">
    <div class="row">
    <div class="col-md-3">
        <img src="assets/APlogo.png" alt="" style="width: 150px; height:auto">
    </div>
    <div class="col-md-3" style="text-align: right;">
        <img src="assets/instagram.png" alt="" class="logo">
        <img src="assets/linkin.png" alt="" class="logo">
    </div>
    <div *ngIf="!authService.loggeado" class="col-md-6" style="display: flex;"> 
        <span style="padding-top: 10px;" > Usuario </span> 
        <input type="text" class="form-control" style="width:150px">
        <span style="padding-top: 10px;">Contraseña</span>
        <input type="text"  class="form-control"  style="width:150px">
        <button class="btn" (click)="logearse()"> Login </button>
    </div>
</div>
</div>

</header>