<header style="background-color: lightblue;">

<div class="col-md-12">
    <div class="row">
    <div class="col-md-3">
        <img src="assets/APlogo.png" alt="" width="150px" height="50px">
    </div>
    <div class="col-md-4" style="text-align: right;">
        <img src="assets/instagram.png" alt="" class="logo">
        <img src="assets/linkin.png" alt="" class="logo">
    </div>
    <div class="col-md-5"> 
        <span> Usuario </span> 
        <input type="text" class="form-control" style="width:150px">
        <span>Contraseña</span>
        <input type="text"  class="form-control"  style="width:150px">
        <button> Login </button>
    </div>
</div>
</div>

</header>