<section class="acercaDe">
    
    <div style="background-image: url('assets/background.jpg'); ">


        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" style="margin: 0px">
                    <img id="imgProfile" src="assets/profile img.jpg" style="margin-top: 20px;" width="150px" height="150px">
                    <h2 style="color: white">{{userData.nombre}}</h2>
                    <input class="inPutty" [disabled]="!authService.loggeado"  type="text" [(ngModel)]="userData.nombre" style="width: 80% ;">
                    <input type="text" [(ngModel)]="userData.city" style="width: 450 px ;">
                    <h5 style="color: white">FullStack Developer Jr</h5>
                    <button> Tengo Interes En </button> <button>Añadir Seccion</button> <button> Mas </button>
                </div>
                
            </div>
        </div>

    
    </div>
    <div class="informacionPersonal">  <h3 style="color: black;">Informacion Personal</h3> </div>
</section>


<div class="experiencia">
    <h2> Experiencia </h2>
    <ul>
        <li *ngFor=" let info of listaTrabajos; let i = index"> {{info}}
            <span *ngIf="authService.loggeado" (click)="removeExp(i)">x</span>
        </li>
        
    </ul>
</div>


<div class="educacion">
    <h2> Estudios </h2>
    <ul>
        <li *ngFor=" let info of listaEstudios;"> {{info}}</li>
    </ul>
</div>


<div class="habilidades">
    <h2> Habilidades </h2>
</div>

<div class="proyectos">
    <h2> Proyectos </h2>
</div>