/* You can add global styles to this file, and also import other style files */


#first-part {
    border-radius: 32px;
    margin: 10px 10px 0;
    padding: 10px;
    border: 2px solid #2AA5F7;
}

#profile-background{
 
    border-radius: 50px;

}

#profile-image{

        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 150px;
        width: 150px;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        
}

#utn-logo {
    position: flex;
    height: 100px;
    width: 300px;
    margin-top:  20px;
}

#utn-txt {
    font-size: 20px;
}

#argentinaProgramaLogo {
    position: flex;
    height: 100px;
    width: 111px;
}

#argTxt {
    font-size: 20px;
}


